html{
	    position: relative;
    min-height: 100%;
}

body{
	margin: 0;
	font-family: 'Roboto', 'sans-serif';

}


h1{
 line-height: 40px!important;
 height: 40px!important;
 font-size: 1.2em!important;
}

h2{
	text-align: center;
}

.signin-wrapper{
	text-align: center;
	margin-top: 2em;
	margin-bottom: 80px;
}

form{
	margin: auto;

}

.bottom-nav > div >  div{
	color: #fff!important;
}